@tailwind base;
@tailwind components;
@tailwind utilities;


.no-clicking {
  pointer-events: none;
}

.front:before {
  content: "?";
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  border-radius: 10px;
}

.flipped,
.similar {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}
